.cards{
    width: 20%;
    padding: 10px;
}

.swipeItems{
    display: block;
    height: 95vh;
    width: 100%;
    overflow-y: scroll;
}
.wrapperCards{

    display: flex;
    flex-basis: max-content;
    flex-wrap: wrap;

}

.tempCard{
    font-size: 25px;
    font-weight: 800;
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

.p-card-header img {
    width: 100px;

}

.p-card-header{
    padding-top: 25px;
    text-align: center;
}

.p-card .p-card-body{
    padding-top: 0;
}

.p-card .p-card-content {
    padding: 0;
}

.cards:hover{
    border-radius: 6px;
    border: 2px solid #2E1452;
}

.Footer{
    font-size: 20px;
    font-weight: 600;
    
    font-family: 'Nunito', sans-serif;
}